[Unit]
Description=ProvBPF service
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/provbpfd
Restart=always

[Install]
WantedBy=multi-user.target
